* {
    padding: 0;
    margin: 0;
}

.wrapper {
    height: 700px;
    width: 900px;
    padding: 20px;
    margin: 50px auto;
    display: flex;
    justify-content: left;
    align-items: center;
    background: rgb(59, 192, 125); 
}
.movreCar {
    position: relative;
    height: 20px;
    width: 0;
    margin-left: 0;
    background: linear-gradient(270deg, #F201FF 0%, #104CFF 30.52%, #6DE3FC 69.06%, rgba(63, 175, 255, 0) 100%);
    animation: car 8s linear forwards;
}
.car {
    position: absolute;
    top: -8px;
    left: calc(100% - 20px);
}

@keyframes car {
    0% {
    width: 0;
    }
    100% {
    width: 85%;
    }   
}